# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc

# Precompiled Headers
*.gch
*.pch
*.abi
*.wast

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.bc

# Executables
*.exe
*.out
*.app
*.wasm

